@media screen and (max-width:667px) and (min-height:375px) {

    #first-header ul {
        display: none;

    }
    #third-header ul {
        display:none
    }
    #second-header ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}
    .search-icon {
        width:251px;
        height:60px;
        margin-left:0px;
        
    }
    input[type="text"] {
     width:240px;   
    }
    .home-container {
     margin:55px 0px;
        width:345px;
    }
    .deal-box {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
    .box img {
    width: 47px;
    height: 38px;
    padding: 10px;
}
 .box {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    margin-left: 36px;
    margin-top: 100px;
}
    .best-deal-cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    flex-direction: column;
}
    .shopbestdeal {
         margin: auto 111px;
        padding: 10px;
        
    }
}  
@media screen and (max-width:568px) and (min-height:320px) {
   
     
    .home-container {
    margin: 55px 0px;
    width: 289px;
    }
    
    .shopbestdeal {
    margin: auto 108px;
        width:100px;
        font-size:7px;
        
    }
    #head-1 {
     font-size:0.9em;
    }
    #head-2
    {
     font-size:2rem;   
        
    }
    #head-3{
        
     font-size:2rem;   
    }
    #head-4 {
        font-size:1rem;
    }
    #head-5 {
     font-size:1rem;   
        
    }
    .box {
   margin-top:132px;     
    }
   
    .best-deal-cards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    flex-direction: column;
}
    .best-deal-cards img {
     width:166px;
        height:137px;
    }
    cart-head {
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    width: 95px;
    padding: 10px;
    border-radius: 20px;
    font-size: 9px;
}
    
 
    
}
